html,
body {
    background-color: #FFF;
    overflow-x: hidden;
    scroll-behavior: smooth !important;
}


/* style navigation */

.navbar_fixed {
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    z-index: 999;
    transition: background 1s ease;
}

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .navbar-brand {
    letter-spacing: 3px;
    margin-left: 52px;
    color: rgb(12, 1, 22);
    font-weight: 500;
}

.navbar .navbar-nav .nav-item {
    margin-right: 52px;
    letter-spacing: 1px;
}

.navbar .navbar-nav .nav-item a {
    color: rgb(12, 1, 22);
    text-transform: capitalize;
    letter-spacing: 3px;
    font-weight: 500;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-item a:hover {
    color: #C4313180;
}


/*End Navigation*/


/*style main section*/


/*Banner section*/

#site-main #Banner {
    margin-top: 100px;
}

#site-main #Banner .container .row {
    padding-top: 5%;
}

#site-main #Banner .container .row .text-area h3 {
    font-family: cursive;
    font-weight: 400;
    font-size: 40px;
}

#site-main #Banner .container .row .text-area h2 {
    font-family: cursive;
    letter-spacing: 1px;
}

#site-main #Banner .container .row .text-area p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    text-shadow: #ccc solid 1px;
}

#site-main #Banner .banner-image>img {
    padding: 7rem 0;
    width: 90rem;
}


/*end banner section*/


/*About me section*/

#site-main #about {
    padding: 4rem 3rem;
}

#site-main #about .h-about {
    font-family: cursive;
    padding: 8px;
}

#site-main #about .h-about-underline {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 3px;
    background-color: #C4313180;
}

#site-main #about .about-image>img {
    margin-top: 25px;
    margin-left: 36px;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 54% 46% 62% 38% / 20% 24% 76% 80%;
    -webkit-border-radius: 54% 46% 62% 38% / 20% 24% 76% 80%;
    -moz-border-radius: 54% 46% 62% 38% / 20% 24% 76% 80%;
    -ms-border-radius: 54% 46% 62% 38% / 20% 24% 76% 80%;
    -o-border-radius: 54% 46% 62% 38% / 20% 24% 76% 80%;
}

#site-main .bout h2>span {
    display: block;
    font-family: cursive;
    font-weight: 700;
    letter-spacing: 13px;
}

#site-main .bout p {
    padding: 2rem 0;
}


/*End About me section*/


/*start resume section*/

#site-main #resume {
    padding: 4rem 3rem;
}


/*Education*/

#site-main #resume .education h5 {
    font-weight: 600;
}

#site-main #resume .education .underline {
    width: 80px;
    height: 3px;
    background-color: #C4313180;
}

#site-main #resume .education h3 {
    font-size: 27px;
    font-weight: 600;
}

#site-main #resume .education .info {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    opacity: 0.6;
}


/*End Education*/


/*Experience*/

#site-main #resume .experience h5 {
    font-weight: 600;
}

#site-main #resume .experience .underline {
    width: 80px;
    height: 3px;
    background-color: #C4313180;
}

#site-main #resume .experience h3 {
    font-size: 27px;
    font-weight: 600;
}

#site-main #resume .experience .info {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #000;
    opacity: 0.6;
}


/*End Experience*/


/*skills area*/

#site-main #resume .skills .underline {
    width: 80px;
    height: 3px;
    background-color: #C4313180;
}

.bars {
    width: 95%;
    float: left;
    padding: 0;
    text-align: left;
}

.bars .skills {
    margin-top: 36px;
    list-style: none;
}

.bars li {
    position: relative;
    margin-bottom: 60px;
    background: #ccc;
    height: 42px;
    border-radius: 3px;
}

.bars li em {
    font: 15px 'opensans-bold', sans-serif;
    color: #313131;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: normal;
    position: relative;
    top: -36px;
}

.bar-expand {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding-right: 24px;
    background: #313131;
    display: inline-block;
    height: 42px;
    line-height: 42px;
    border-radius: 3px 0 0 3px;
}

.javascript {
    width: 55%;
    animation: javascript 2s ease;
    -moz-animation: javascript 2s ease;
    -webkit-animation: javascript 2s ease;
}

.php {
    width: 50%;
    animation: php 2s ease;
    -moz-animation: php 2s ease;
    -webkit-animation: php 2s ease;
}

.css {
    width: 90%;
    animation: css 2s ease;
    -moz-animation: css 2s ease;
    -webkit-animation: css 2s ease;
}

.html5 {
    width: 80%;
    animation: html5 2s ease;
    -moz-animation: html5 2s ease;
    -webkit-animation: html5 2s ease;
}

.jquery {
    width: 50%;
    animation: jquery 2s ease;
    -moz-animation: jquery 2s ease;
    -webkit-animation: jquery 2s ease;
}

@keyframes javascript {
    0% {
        width: 0px;
    }
    100% {
        width: 60%;
    }
}

@keyframes php {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    }
}

@keyframes css {
    0% {
        width: 0px;
    }
    100% {
        width: 90%;
    }
}

@keyframes html5 {
    0% {
        width: 0px;
    }
    100% {
        width: 80%;
    }
}

@keyframes jquery {
    0% {
        width: 0px;
    }
    100% {
        width: 50%;
    }
}


/*end skills area*/


/*end resume section*/


/*Sevices Section*/

#site-main #services-area {
    padding: 7rem 2rem;
}

#site-main #services-area h1 {
    font-family: cursive;
    font-weight: 500;
}

#site-main #services-area .h-about-underline {
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 3px;
    background-color: #C4313180;
}

#site-main>#services-area .services {
    background: rgba(248, 252, 253, 0.973);
    padding: 2rem 0;
    width: 16rem;
    display: block;
    margin: 5rem auto;
    transition: box-shadow .3s ease;
    -webkit-transition: box-shadow .3s ease;
    -moz-transition: box-shadow .3s ease;
    -ms-transition: box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    cursor: pointer;
}

#site-main>#services-area .services:hover {
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.705);
}


/* End Services Area */


/* start Testimonial Me */

#site-main #testimonials .title-h1 {
    font-family: cursive;
}

#site-main #testimonials .about-title p {
    padding: 1rem 7rem;
}

#site-main #testimonials .client {
    background: #ffffff10;
    box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
    margin: 3rem 0rem;
}

#site-main #testimonials .client .client-img {
    padding: 2rem;
}

#site-main #testimonials .client .about-client {
    padding-top: 2rem;
}

#site-main #testimonials .client .about-client h4 {
    font: normal 500 21px/ 20px;
}

#site-main #testimonials .client .about-client p {
    font-size: 14px;
}

#site-main #testimonials .owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

#site-main #testimonials .owl-carousel .owl-dots .owl-dot.active span {
    background: #4458dc;
    width: 12px;
    height: 12px;
}


/* End testimonial Me */


/* Subscribe me */

#site-main #subscribe-us-area .subscribe {
    background: url(../img/subscribe-bg.png) no-repeat;
    padding: 7rem 0;
    margin: 3rem auto;
}

#site-main #subscribe-us-area .subscribe .subscribe-title h4 {
    font: normal 700 30px/ 30px var(--roboto);
    color: whitesmoke;
}

#site-main #subscribe-us-area .subscribe .subscribe-title p {
    color: whitesmoke;
    padding: 1rem 4rem;
}

#site-main #subscribe-us-area .subscribe form .input-textbox input {
    width: 400px;
    padding: 1.5rem 1rem;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font: normal 500 17px/20px;
}

#site-main #subscribe-us-area .subscribe form .input-textbox input::placeholder {
    color: whitesmoke;
}

#site-main #subscribe-us-area .subscribe form .btn-submit button {
    background: whitesmoke;
    color: #000;
}


/* End subscribe me */


/*footer*/

footer {
    width: 100%;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana;
    background-color: #ededed;
    font-size: 24px;
    font-weight: 500;
}

footer .address {
    display: block;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;
}

footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

footer .social a:hover {
    opacity: 1;
}


/*End footer*/